/* You can add global styles to this file, and also import other style files */
div.sm-jumbotron{
    margin: 0px;
    padding:2rem;
    background-color: black;
    color: brown;
}
button.btn-submit{
    background-color: brown;
    color: black;
    width: 100%;
}
button.btn-submit:focus,button.btn-submit:hover{
    background-color: coral;
}
div.validation-error{
    color: red;
}